# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
.venv*/
.env
.env.*

# Streamlit
.streamlit/

# VSCode / IDE
.vscode/
.idea/
*.code-workspace

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Python packaging
build/
dist/
*.egg-info/
